# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
.next/
dist/
build/

# Logs
*.log

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
venv/
__pycache__/
*.pyc
.env
logs/

# Datos pesados y Backups
data/
backups/
scratch/
*.sql
*.mp3
*.wav
*.ogg

# Base de datos y métricas locales
grafana/
prometheus_data/
grafana_data/
